body {
    --color-primary: #674BA2;
    --color--secondary: #9051A2;
    --color-error: #CC3333;
    --color-success: #4BB544;
    --background-color: #f45ea0;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    font-size: 40px;
    justify-content: center;
    background-color: var(--color--secondary);
}

@font-face {
    font-family: 'Adelle Mono', Flex-Bold;
    src: url('../fonts/AdelleMonoFlex-Bold.ttf') format('embedded-op');
    src: url('../fonts/AdelleMono-Light.ttf') format('embedded-op');
}

h1{
    font-family: 'Adelle Mono', Flex-Bold;
    color: #ffffff;
    font-size: 40px;
}

p {
    font-family: 'Adelle Mono', Light;
    color: #ffffff;
    font-size: 15px;
}

.container {
    width: 600px;
    max-width: 600px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
    border-radius: var(--border-radius);
    background: var(--color-primary);
}

.container,
.form_input 
.form_button {
    font: 400 1rem 'Roboto Mono', monospace;
}

.form-hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form_title {
    margin-bottom: 2rem;
    text-align: center;
}

.form_message {
    text-align: center;
    margin-bottom: 1rem;
}

.form_message-success{
    color: var(--color-success);
}

.form_message-error {
    color: var(--color-error);
}

.form_input-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form_input {
    display: block;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 2px solid #DDDDDD;
    outline: none;
    background: #EEEEEE;
    transition: background 0.2s, border-color 0.2s;
}

.form_input:focus{
    border-color: #FFFFFF;
    background: #FFFFFF;
}

.form_input-error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form_input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form_button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #FFFFFF;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

-form_button:hover {
    background: #b5b5b5;
}

.form_button:active {
    transform: scale(0.98);
}

.form_text {
    text-align: center;
}

.form_link {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.form_link:hover {
    text-decoration: underline;
}