:root {
    --primary-color: #f45ea0;
    --second-color: #b555a1;
    --third-color: #9051a2;
    --fourth-color: #674ba2;
    --fifth-color: #4b48a3;
    --six-color: #2943a3;
}

@font-face {
    font-family: 'Adelle Mono', Flex-Bold;
    src: url('../fonts/AdelleMonoFlex-Bold.eot?#iefix') format('embedded-op')
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media only screen and (min-width: 414px) {
    a {
        text-decoration: none;
        color: #ffffff;
        font-family: 'Adelle Mono', Flex-Bold;
    }
    
    body {
        background-color: var(--primary-color);
        display: grid;
        overflow-x: hidden;
    }

    #title {
        color: #ffffff;
        font-family: 'Adelle Mono', Flex-Bold;
        font-size: 40px;
        margin: 15px 0px 0px 5px;
    }
    .dot {
        height: 35px;
        width: 35px;
        background-color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        margin: 10px 20px 0px 0px;
    }

    #close {
        width: 250%;
        padding: 0px 10px 0px 0px;
        margin: 7px 10px 0px 0px;
    }

    #guide {
        color: #ffffff;
        font-family: 'Adelle Mono', Flex-Bold;
        font-size: 40px;
        text-align: left;
        margin: 30px 0px 0px 10px;
    }
}

@media screen and (min-width: 992px) {
a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Adelle Mono', Flex-Bold;
}

body {
    background-color: var(--primary-color);
    display: grid;
    overflow-x: hidden;
}

#title {
    color: #ffffff;
    font-family: 'Adelle Mono', Flex-Bold;
    font-size: 40px;
    margin: 15px 0px 0px 5px;
}
.dot {
    height: 35px;
    width: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 20px 0px 0px;
}

#close {
    width: 250%;
    padding: 0px 10px 0px 0px;
    margin: 7px 10px 0px 0px;
}

#guide {
    color: #ffffff;
    font-family: 'Adelle Mono', Flex-Bold;
    font-size: 40px;
    text-align: left;
    margin: 30px 0px 0px 280px;
}
}