:root {
  --primary-color: #f45ea0;
  --second-color: #b555a1;
  --third-color: #9051a2;
  --fourth-color: #674ba2;
  --fifth-color: #4b48a3;
  --six-color: #2943a3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Adelle Mono", Light;
}

@font-face {
  font-family: "Adelle Mono", Flex-Bold;
  src: url("../fonts/AdelleMonoFlex-Bold.eot?#iefix") format("embedded-op");
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media only screen and (min-width: 414px) {
  body {
    background-color: var(--fourth-color);
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  #title {
    color: #ffffff;
    font-family: "Adelle Mono", Flex-Bold;
    font-size: 40px;
    margin: 15px 0px 0px 10px;
  }
  .dot {
    height: 45px;
    width: 45px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 15px 10px 0px 0px;
  }

  #menu {
    width: 130%;
    margin: 10px 0px 0px 0px;
    display: inline-block;
  }

  /*H1 STYLE*/
  h1 {
    color: #ffffff;
    font-size: 25px;
    font-family: "Adelle Mono", Flex-Bold;
    text-align: center;
  }

  /*COMMUNICATION*/

  .skill {
    width: 160px;
    height: 160px;
    position: relative;
    margin: 0px 0px 0px 120px;
  }

  .outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }

  .inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.5);
  }

  #number {
    font-weight: 600px;
    color: #ffffff;
  }

  .circle_1 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim1 2s linear forwards;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  /*COMMUNICATION*/
  /*para o circulo parar nos 65% 472-472*0.65*/
  @keyframes anim1 {
    100% {
      stroke-dashoffset: 165;
    }
  }

  .outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }

  .inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.5);
  }

  #number {
    font-weight: 600px;
    color: #ffffff;
  }

  .circle_2 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 420;
    stroke-dashoffset: 420;
    animation: anim2 2s linear forwards;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  /*LEADERSHIP*/
  /*para o circulo parar nos 65% 472-472*0.65*/
  @keyframes anim2 {
    100% {
      stroke-dashoffset: 236;
    }
  }

  .outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }

  .inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.5);
  }

  #number {
    font-weight: 600px;
    color: #ffffff;
  }

  .circle_3 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 420;
    stroke-dashoffset: 420;
    animation: anim3 2s linear forwards;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  /*Creativity*/
  /*para o circulo parar nos 65% 472-472*0.65*/
  @keyframes anim3 {
    100% {
      stroke-dashoffset: 354;
    }
  }

  .outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }

  .inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.5);
  }

  #number {
    font-weight: 600px;
    color: #ffffff;
  }

  .circle_4 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 420;
    stroke-dashoffset: 420;
    animation: anim4 2s linear forwards;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  /*DECISION MAKING*/
  /*para o circulo parar nos 65% 472-472*0.65*/
  @keyframes anim4 {
    100% {
      stroke-dashoffset: 283.2;
    }
  }

  .outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }

  .inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.5);
  }

  #number {
    font-weight: 600px;
    color: #ffffff;
  }

  .circle_5 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 420;
    stroke-dashoffset: 420;
    animation: anim5 2s linear forwards;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  /*TIME MANAGEMENT*/
  /*para o circulo parar nos 65% 472-472*0.65*/
  @keyframes anim5 {
    100% {
      stroke-dashoffset: 472;
    }
  }

  .outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }

  .inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.5);
  }

  #number {
    font-weight: 600px;
    color: #ffffff;
  }

  .circle_6 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 420;
    stroke-dashoffset: 420;
    animation: anim6 2s linear forwards;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  /*ADAPTABILITY*/
  /*para o circulo parar nos 65% 472-472*0.65*/
  @keyframes anim6 {
    100% {
      stroke-dashoffset: 47.2;
    }
  }

  .outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }

  .inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.5);
  }

  #number {
    font-weight: 600px;
    color: #ffffff;
  }

  .circle_7 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 420;
    stroke-dashoffset: 420;
    animation: anim7 2s linear forwards;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  /*EMOTIONAL INTELLIGENCE*/
  /*para o circulo parar nos 65% 472-472*0.65*/
  @keyframes anim7 {
    100% {
      stroke-dashoffset: 94.4;
    }
  }

  .outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }

  .inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.5);
  }

  #number {
    font-weight: 600px;
    color: #ffffff;
  }

  .circle_8 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 420;
    stroke-dashoffset: 420;
    animation: anim8 2s linear forwards;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  /*PERSUASION*/
  /*para o circulo parar nos 65% 472-472*0.65*/
  @keyframes anim8 {
    100% {
      stroke-dashoffset: 401.2;
    }
  }

  .outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }

  .inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.5);
  }

  #number {
    font-weight: 600px;
    color: #ffffff;
  }

  .circle_9 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 420;
    stroke-dashoffset: 420;
    animation: anim9 2s linear forwards;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  /*PROBLEM SOLVING*/
  /*para o circulo parar nos 65% 472-472*0.65*/
  @keyframes anim9 {
    100% {
      stroke-dashoffset: 330.4;
    }
  }

  .outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  }

  .inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
      inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
      -0.5px -0.5px 0px rgba(255, 255, 255, 1),
      0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
      0px 12px 10px -10px rgba(0, 0, 0, 0.5);
  }

  #number {
    font-weight: 600px;
    color: #ffffff;
  }

  .circle_10 {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 420;
    stroke-dashoffset: 420;
    animation: anim10 2s linear forwards;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  /*para o circulo parar nos 65% 472-472*0.65*/
  @keyframes anim10 {
    100% {
      stroke-dashoffset: 0;
    }
  }

  #dot_up {
    height: 45px;
    width: 45px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 80px 0px 60px 350px;
  }

  #go_up {
    width: 60%;
    margin: 10px 0px 0px 9px;
    display: block;
  }
}
