:root {
  --primary-color: #f45ea0;
  --second-color: #b555a1;
  --third-color: #9051a2;
  --fourth-color: #674ba2;
  --fifth-color: #4b48a3;
  --six-color: #2943a3;
}

body {
  background-color: var(--primary-color);
}

.container {
  background-color: var(--second-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Adelle Mono", Flex-Bold;
}

h1 {
  font-size: 45px;
  color: #fff;
  padding: 20px;
}

h3 {
  color: #fff;
}

video {
  width: 100%;
  height: auto;
}

.btn {
  background: var(--fourth-color);
}
